    .navbar {
        background-color: #FC6413;
    }
    
    .navbar-brand {
        padding: 190px;
        margin: 10px;
        width: 150;
        height: 50px;
        font-family: 'Francois One', sans-serif;
        font-style: oblique;
        font-size: 10000px
    }