    .navbar {
        background-color: #FF5900;
        font-size: 10px;
        ;
    }
    
    .navbar-brand {
        padding: 190px;
        width: 170;
        height: 60px;
        font-family: 'Francois One', sans-serif;
        font-size: 10000px
    }